.xoo-wsc-close {
    cursor: pointer;
    position: absolute
}

@keyframes xoo-wsc-spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}
.xoo-wsc-icon-atc {
    margin-left: 5px
}
.xoo-wsc-icon-atc.xoo-wsc-active {
    display: inline-block;
    -webkit-animation: xoo-wsc-spin 575ms infinite linear;
    animation: xoo-wsc-spin 575ms infinite linear
}
.xoo-wsc-updating {
    text-align: center;
    z-index: 1
}
.xoo-wsc-updating .xoo-wsc-icon-spinner2 {
    position: absolute;
    -webkit-animation: xoo-wsc-spin 575ms infinite linear;
    animation: xoo-wsc-spin 575ms infinite linear;
    display: inline-block;
    font-size: 30px;
    z-index: 1;
    color: #000;
    top: 45%;
}
.xoo-wsc-uopac,
.xoo-wsc-updating ,.xoo-wsc-block-cart{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute
}
.xoo-wsc-block-cart{
    z-index: 1;
    display: none;
}
.xoo-wsc-uopac {
    background-color: #f0f0f0;
    opacity: .7
}
body.xoo-wsc-active, html.xoo-wsc-activee {
    overflow: hidden
}
.xoo-wsc-modal.xoo-wsc-active .xoo-wsc-opac {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    background-color: #000;
    z-index: 99999;
    opacity: .5
}
.xoo-wsc-container {
    position: fixed;
    z-index: 999999;
    background-color: #fff;
    max-width: 95%;
}


.xoo-wsc-header {
    position: relative;
    font-weight: 600;
}
.xoo-wsc-basket {
    padding: 10px;
    border-radius: 14px;
    margin: 10px;
    box-shadow: 0 1px 4px 0;
    z-index: 999999;
    cursor: pointer;
}

.xoo-wsc-basket , .xoo-wsc-container{
    transition-duration: .5s;
}


.xoo-wsc-items-count {
    border-radius: 50%;
    position: absolute;
    top: -15px;
    font-size: 13px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    overflow: hidden
}
.xoo-wsc-close {
    transform: translateY(-50%);
    top: 50%;
    right: 20px
}
.xoo-wsc-body {
    overflow-y: auto;
    position: relative
}
.xoo-wsc-product {
    padding: 15px;
    width: auto;
    display: block;
}
.xoo-wsc-product:after{
    content: " ";
    clear: both;
    display: block;
}
.xoo-wsc-img-col {
    float: left;
    text-align: center
}
a.xoo-wsc-remove {
    padding: 10px 10px 0 0;
    float: right;
    font-size: 16px;
    cursor: pointer;
}
.xoo-wsc-sum-col {
    display: inline-block;
    margin-left: 10px;
    float: left
}
a.xoo-wsc-pname {
    word-wrap: break-word;
    display: block;
    width: 100%
}
.xoo-wsc-price {
    margin: 3px 0
}
.xoo-wsc-sum-col .variation {
    overflow: auto;
    font-size: 12px;
    margin: 5px 0;
}
.xoo-wsc-sum-col .variation dt {
    display: inline-block;
    margin: 0 3px 0 0;
    float: none
}
.xoo-wsc-sum-col .variation dd {
    display: inline-block;
    margin: 0 5px 0 0;
    float: none
}
span.xoo-wsc-minus,
span.xoo-wsc-plus {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    float: left;
    width: 21px
}
.xoo-wsc-footer,
.xoo-wsc-footer button.xoo-wsc-ft-btn {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.xoo-wsc-footer-a{
    margin-bottom: 10px;
}


span.xoo-wsc-minus {
    border-right-width: 1px;
    border-right-style: solid
}
span.xoo-wsc-plus {
    border-left-width: 1px;
    border-left-style: solid
}
.xoo-wsc-psrow {
    margin-top: 7px;
    height: 37px;
    line-height: 35px;
    display: block
}
.xoo-wsc-qtybox {
    border-width: 1px;
    border-style: solid;
    position: relative;
    display: inline-block;
    font-weight: 700;
    max-width: 90px;
    float: left;
    height: inherit
}
input[type=number].xoo-wsc-qty {
    border: 0!important;
    text-align: center;
    display: inline-block;
    max-width: 30px;
    float: left;
    height: 100%;
    line-height: 100%;
    padding: 0
}


.xoo-wsc-ptotal{
    float: right;
}

.xoo-wsc-ptotal .amount{
    font-weight: 600;
    font-size: 17px;
}


.xoo-wsc-footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid #eee;
}
.xoo-wsc-modal.xoo-wsc-active .xoo-wsc-container {
    right: 0
}
.xoo-wsc-content{
    position: relative;
}
.xoo-wsc-mgn {
    margin: 10px 0;
    display: block
}
input.xoo-wsc-qty::-webkit-inner-spin-button,
input.xoo-wsc-qty::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}
.xoo-wsc-ecnt {
    padding: 15px;
    font-size: 20px;
    display: block
}
.xoo-wsc-shiptxt {
    padding: 0 15px;
    display: block;
    font-size: 13px
}
.xoo-wsc-sc-cont{
    cursor: pointer;
}
.xoo-wsc-sc-icon{
    margin-right: 3px;
}


.xoo-wsc-notice-box{
  left: 0;
  right: 0;
  bottom: 50px;
  position: fixed;
  z-index: 100000;
}
.xoo-wsc-notice-box > div{
    display: table;
    margin: 0 auto;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
}
.xoo-wsc-notice ul.woocommerce-error a.button{
    display: none;
}
.xoo-wsc-notice ul.woocommerce-error{
   margin: 0;
}

/** Related Products **/
.xoo-wsc-rp-cont{
    border-bottom: 2px solid #eee;
}
.xoo-wsc-rp-title{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #777;
    font-family: sans-serif;
}

.xoo-wsc-sp-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.xoo-wsc-related-products span.price{
    display: table;
    margin-bottom: 3px;
    font-size: 14px;
}
li.xoo-wsc-rp-item{
    display: flex;
    background-color: #eee;
    align-items: left;
    padding: 0 7px;
}
.xoo-wsc-rp-right-area{
    margin-left: 15px;
}
.xoo-wsc-rp-right-area > * {
    font-size: 14px;
    display: table;
}
.xoo-wsc-related-products .lSAction > a{
   background-size: 50%;
    background-repeat: no-repeat;
}

.xoo-wsc-related-products .lSAction > .lSNext{
    background-image: url(../../lib/lightslider/img/arrow-right.png);
    background-position: center center;
    right: -6px;
}

.xoo-wsc-related-products .lSAction > .lSPrev{
    background-image: url(../../lib/lightslider/img/arrow-left.png);
    background-position: center center;
    left: -6px;
}
.xoo-wsc-coupon-container{
    padding: 0 15px;
    margin: 3px 0;
}
a.xoo-wsc-coupon-trigger{
    cursor: pointer;
    display: none;
}

a.xoo-wsc-coupon-trigger.active{
    display: block;
}

.xoo-wsc-coupon{
    display: none;
    padding: 3px;
}

.xoo-wsc-coupon.active{
    display: flex;
}
.xoo-wsc-coupon-submit{
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    padding: 0 15px;
}
.xoo-wsc-coupon-submit.active{

}
#xoo-wsc-coupon-code{
    flex-grow: 1;
}

ul.xoo-wsc-applied-coupons{
    list-style-type: none;
    margin: 3px 0;
    display: table;
}

ul.xoo-wsc-applied-coupons li {
    display: table;
    float: left;
    padding: 2px 7px;
    background-color: #dff0d8;
    border-radius: 10%;
    margin-right: 10px;
    color: #3c763d;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
}

ul.xoo-wsc-applied-coupons li:after {
    content: "\e909";
    margin-left: 6px;
    font-family: Woo-Side-Cart!important;
    font-size: 8px;
    vertical-align: middle;
    color: green;
}

.xoo-wsc-tool:after{
    content: "";
    clear: both;
    display: table;
}
.xoo-wsc-tools-value{
    float: right;
}
.xoo-wsc-tools-label{
    float: left;
}
.xoo-wsc-tools{
    font-weight: bold;
    padding: 0 15px;
}
.xoo-wsc-tool{
    margin: 2px 0;
    width: 100%;
}
.xoo-wsc-tools-value .amount{
    font-size: 15px;
}
.xoo-wsc-coupon-submit.active:after{
    content: "\e97b";
    font-family: Woo-Side-Cart!important;
    -webkit-animation: xoo-wsc-spin 575ms infinite linear;
    animation: xoo-wsc-spin 575ms infinite linear;
    font-size: 18px;
}
.xoo-wsc-coupon-submit.active{
    font-size: 0;
}
.xoo-wsc-product.xoo-wsc-bundled-child{
    border: 0;
}
.xoo-wsc-footer a.xoo-wsc-ft-btn{
    display: block;
}

span.xoo-wsc-total-sales {
    text-transform: uppercase;
    border: 1px solid #333;
    padding: 2px 10px;
    display: block;
    margin-bottom: 4px;
    border-radius: 10px;
    font-size: 11px;
}

.xoo-wsc-empty-cart img{
    display: table;
    margin: 50px auto 10px;
}

.xoo-wsc-notification-bar {
    background-color: #DFF0D8;
    color: #3C763D;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
    font-weight: 400;
    font-size: 15px;
    padding: 13px 15px;
    display: none;
}

.xoo-wsc-notification-bar > span {
    margin-right: 5px;
}

.xoo-wsc-undo-item{
    float: right;
    text-decoration: underline;
    cursor: pointer;
}

.xoo-wsc-modal .variation:last-of-type {
    display: none;
}

.xoo-wsc-modal .variation:first-of-type {
    display: block;
}

a.added_to_cart {
    display: none;
}
.xoo-wsc-container .woocommerce-mini-cart__buttons{
    margin-bottom: 0;
}
.xoo-wsc-rp-right-area a.button{
    font-size: 14px;
    float: left;
}
.xoo-wsc-rp-left-area img{
    max-width: 75px;
    height: auto;
}

img.xoo-wsc-sc-icon {
    width: 18px;
    height: 18px;
    display: inline;
    vertical-align: middle;
}